.env
.minetrc

*.csv
*.csv#

.ipynb_checkpoints/
*.ipynb

.idea

__pycache__

.DS_Store

*.gz
*.aux
*.toc
*.log
*.out
*.blg
*.bbl

test.pdf
test.tex
tto2019.sty
acl_natbib.bst
internal_draft_policy_webclim.pdf
