.env
.minetrc

*.csv
*.csv#

.ipynb_checkpoints/
*.ipynb

.idea

__pycache__

.DS_Store

*.gz
*.aux
*.toc
*.log
*.out
*.blg
*.bbl
*.tex
*.cls
*.json

*.pdf 

twitter_pie_flags_updated.png
lifesite_domain.jpg
lifesite.jpg
facebook_pie_flags.png

article/img
!article/draft_v_2_jan_2023.tex
!article/draft.pdf