.env
.minetrc

*.csv
*.csv#

.ipynb_checkpoints/
*.ipynb

.idea

__pycache__

.DS_Store

*.gz
*.aux
*.toc
*.log
*.out
*.blg
*.bbl

test.pdf
test.tex
tto2019.sty
acl_natbib.bst
internal_draft_policy_webclim.pdf
twitter_pie_flags_updated.png
lifesite_domain.jpg
lifesite.jpg
facebook_pie_flags.png

article/img
